.sidebar{
  /*margin-top: 200px;*/
  max-width: 240px;
  width: 20%;
  position: absolute;
  height: max-content;
}

.sidebar__text {
  padding: 15px;
  border-radius: 10px;
  background-color: rgba(100, 100, 100, 0.5);
}